
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>KINDLING</title>
    <!--
    <meta property="og:title" content="KINDLING" />
    <meta property="og:description" content="Webdevelopment and Design Collective" />
    <meta property="og:image" content="img/share.jpg" />
    -->

    <!-- NORMALIZE -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Jaldi:400,700" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://use.fontawesome.com/503e9375ae.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="body">
    <div id="header" class="section">

    	<svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 515 362.667" enable-background="new 0 0 2409.449 1559.06" xml:space="preserve">
    		<!-- K -->
    		<g id="letter-1">
    			<!-- <path class="letter-part" id="line-1"  x1="21.667" y1="163.333" x2="22" y2="17.333"/> -->
          <path class="letter-part" id="line-1" d="M21.667,163.333 22,17.333"/>
    			<path class="letter-part" id="line-2" d="M110.667,17 21.667,104.667"/>
    			<path class="letter-part" id="line-3" d="M43.333,85 122.333,164"/>
    		</g>
    		<!-- I -->
    		<g id="letter-2">
    			<path class="letter-part" id="line-4" d="M162.685, 15.667 162.685,165.167"/>
    		</g>
    		<!-- N -->
    		<g id="letter-3">
    			<path class="letter-part" id="line-5" d="M213.874, 165 213.874,18"/>
    			<path class="letter-part" id="line-6" d="M331.000, 166.334 214.667,19"/>
    			<path class="letter-part" id="line-7" d="M331.764, 19.667 331.764,167.333"/>
    		</g>
    		<!-- D -->
    		<g id="letter-4">
    			<path class="letter-part" id="line-8" d="M373.764, 20.667 373.764,164.200"/>
    			<path class="letter-part" id="line-9" d="M376.494,20.333h40.531 c0,0,78.59-3.295,78.59,73.153c0,76.449-80.073,70.682-80.073,70.682l-39.542,0"/>
    		</g>
    		<!-- L -->
    		<g id="letter-5">
    			<path class="letter-part" id="line-10" d="M123.5, 345.667 22.899,347.000"/>
    			<path class="letter-part" id="line-11" d="M22.668, 199.333 22.668,346.666"/>
    		</g>
    		<!-- I -->
    		<g id="letter-6">
    			<path class="letter-part" id="line-12" d="M162.352, 347.5 162.352,198"/>
    		</g>
    		<!-- N -->
    		<g id="letter-7">
    			<path class="letter-part" id="line-13" d="M214.541, 197.667 214.541,344.667"/>
    			<path class="letter-part" id="line-14" d="M215.333, 198.667 332.500,346.901"/>
    			<path class="letter-part" id="line-15" d="M332.43, 347 332.43,199.334"/>
    		</g>
    		<!-- G -->
    		<g id="letter-8">
    			<path class="letter-part" id="line-16" d="M480.282,284.194"/>
    			<path class="letter-part" id="line-17" d="M499.282,341.887"/>
    			<!-- <path class="letter-part" id="line-18" d="M476.237,340.414h-24.531 c0,0-78.59,3.295-78.59-73.153c0-76.449,80.073-70.682,80.073-70.682l9.542,0"/> -->
          <path class="letter-part" id="line-18" d="M476.237,340.414h-24.531 c0,0-78.59,3.295-78.59-73.153c0-76.449,80.073-70.682,80.073-70.682l9.542,0"/>
    			<path class="letter-part" id="line-19" d="M477.782, 286 477.782,340.3"/>
    			<path class="letter-part" id="line-20" d="M477.333, 285.716 450.666,285.716"/>
    		</g>
    	</svg>

      <video id="movie" autoplay loop>
      	<!-- <source src="video/bg.mov" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' /> -->
      	<!-- <source src="video/bg.ogv" type='video/ogg; codecs="theora, vorbis"' /> -->
      	<source src="video/bg.webm" type='video/webm; codecs="vp8, vorbis"' />
      </video>

    	<div class="darken"></div>
    </div>

    <nav id="nav">
      <ul>
        <li><a class="hidden" href="#work"><div class="x1"></div><div class="x2"></div>Work</a></li>
        <li><a class="hidden" href="#about"><div class="x1"></div><div class="x2"></div>About</a></li>
        <li><a class="hidden" href="#contact"><div class="x1"></div><div class="x2"></div>Contact</a></li>
        <li><a class="hidden" href="#"><div class="x1"></div><div class="x2"></div>Github</a></li>
      </ul>
    </nav>
