
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Education Y</title>

    <meta property="og:title" content="SchoolCheck - Was kann dir deine Schule bieten? Finde es jetzt heraus!" />
    <meta property="og:description" content="Mach den 90 Sekunden Test" />
    <meta property="og:image" content="thumbnail_image" />

    <!-- NORMALIZE -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Jaldi:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://use.fontawesome.com/503e9375ae.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="body">
